
<div class="container">
    <div class="header">
        <h2>Employee List</h2>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>Emp Name</th>
                <th>Salary</th>
                <th>Designation</th>
                <th>Contact</th>
                <th>DOJ</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeService.employees">
                <td (click)="populateForm(employee)">{{employee.empId}}</td>
                <td (click)="populateForm(employee)">{{employee.empName}}</td>
                <td (click)="populateForm(employee)">{{employee.salary}}</td>
                <td (click)="populateForm(employee)">{{employee.designation}}</td>
                <td (click)="populateForm(employee)">{{employee.empPhoneNumber}}</td>
                <td (click)="populateForm(employee)">{{employee.dateOfJoining| date:"dd/MM/yyyy"}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-info"
                    (click)="updateEmployee(employee.empId,employee)" >E</button>
                    &nbsp;
                    <button class="btn btn-sm btn-outline-danger"
                    (click)="deleteEmployee(employee.empId)">X</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
