
<div class="container">
    <br>
    <!-- <h2 style="text-align: center;">Employee Management System</h2> -->
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="logo-img">
                    <img src="../assets/img/logo.jpg" class="img-fluid" alt="">
                </div>
            </nav>
        </div>
        <!--app-employees></app-employees-->
        <router-outlet></router-outlet>
    </div>
</div>
<footer>
    <div class="container">
        <span>All right reserved @Anagha</span>
    </div>
</footer>