/* You can add global styles to this file, and also import other style files */

table tbody tr:hover{
    background-color: rgb(196, 198, 203);
    cursor: pointer;
}
.form-group>input{
    font-weight: bolder;
}
.form-group input:placeholder{
    color: rgb(232, 195, 147);
}
.form-group>select{
    font-weight: bolder;
}
input.invalid{
    border-color: red;
}
.validation-error{
    width: 100%;
    font-size: 80%;
    color: rgb(235, 86, 86);
}